<!--
<div class="row">
  <div class="col-md-3 col-xs-6">
    <label for="inputDni">Dni</label>
    <input name="inputDni" id="inputDni"
           [(ngModel)]="dni">
  </div>
  <div class="col-md-3 col-xs-6">
    <label for="inputFecha">Fecha de Cumpleaños</label>
    <input name="inputFecha" id="inputFecha"
           [(ngModel)]="fechaNacimiento">
  </div>
  <div class="col-md-3 col-xs-6">
    <label for="selectRango">Dni</label>
    <select ng-options="" name="selectRango" id="selectRango"
           [(ngModel)]="dni">
  </div>
  <div class="col-md-3 col-xs-6">
    <label for="inputDni">Dni</label>
    <input name="inputDni" id="input"
           [(ngModel)]="dni">
  </div>
</div>
-->
